# System:
Thumbs.db
.DS_Store
*.swp
*~
Desktop.ini

# Version Control Systems:
.svn
CVS
.hg
.bzr

# Android:
*.iml
.gradle
local.properties
proguard/**
target/**
bin/**
obj/**
doc/**
gen/**
gdb.setup
gdbserver
*/build/*
build/*
.externalNativeBuild
app/libs/
andengineLibrary/AndEngine-GLES2-AnchorCenter/build/*
andengineLibrary/AndEngineSVGTextureRegionExtension-GLES2/build/*
/captures
.project

# Eclipse:
.settings

# IntelliJ / Android Studio:
.idea/*

# Crashlytics
res/values/com_crashlytics_export_strings.xml
